<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="eRobo3">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import eRobo3 urdf file -->
    <xacro:include filename="$(find erob_arm)/urdf/erob_arm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="eRobo3.ros2_control.xacro" />


    <xacro:eRobo3_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
